<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603202302919-bmf18o9hp5f7tnabpl7d31lqijh3cbdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603202302919-bmf18o9hp5f7tnabpl7d31lqijh3cbdf</string>
	<key>API_KEY</key>
	<string>AIzaSyCGgEht5WZsQp90zo_Gz2stdbIicrw2bQI</string>
	<key>GCM_SENDER_ID</key>
	<string>603202302919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.golocal</string>
	<key>PROJECT_ID</key>
	<string>golocal-11c5e</string>
	<key>STORAGE_BUCKET</key>
	<string>golocal-11c5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603202302919:ios:bb4d5d14ecfcb5cdb91fe2</string>
</dict>
</plist>